WindowsServiceAppTest/Connected Services/CrmWebservice/CrmService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wsdev.kraan.com/kraan2vorm/CrmService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" />
  <xs:import schemaLocation="https://wsdev.kraan.com/kraan2vorm/CrmService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RequestSearch">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" base="q1:RequestAuth">
        <xs:sequence>
          <xs:element minOccurs="0" name="ZoekString" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestSearch" nillable="true" type="tns:RequestSearch" />
  <xs:complexType name="RelatieLijstModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginSucces" type="xs:boolean" />
      <xs:element minOccurs="0" name="Relaties" nillable="true" type="tns:ArrayOfRelatie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelatieLijstModel" nillable="true" type="tns:RelatieLijstModel" />
  <xs:complexType name="ArrayOfRelatie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Relatie" nillable="true" type="tns:Relatie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelatie" nillable="true" type="tns:ArrayOfRelatie" />
  <xs:complexType name="Relatie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contactpersonen" nillable="true" type="tns:ArrayOfContactPersoon" />
      <xs:element minOccurs="0" name="Documenten" nillable="true" type="tns:ArrayOfDocument" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emailpri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emailzak" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeboorteDatum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Geslacht" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Huisnummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsBedrijf" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsProject" type="xs:boolean" />
      <xs:element minOccurs="0" name="KvkNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Obnummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roepnaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Straat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefoonnummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefoonnummeralg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefoonnummerfax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefoonnummermob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefoonnummerza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Toevoeging" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Woonplaats" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Relatie" nillable="true" type="tns:Relatie" />
  <xs:complexType name="ArrayOfContactPersoon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactPersoon" nillable="true" type="tns:ContactPersoon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactPersoon" nillable="true" type="tns:ArrayOfContactPersoon" />
  <xs:complexType name="ContactPersoon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roepnaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactPersoon" nillable="true" type="tns:ContactPersoon" />
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="AanmaakDatum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AppCreationGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="Bestand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Docutype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extensie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="RelatieSingleModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginSucces" type="xs:boolean" />
      <xs:element minOccurs="0" name="Relatie" nillable="true" type="tns:Relatie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelatieSingleModel" nillable="true" type="tns:RelatieSingleModel" />
</xs:schema>