WindowsServiceAppTest/Connected Services/YouriWebserviceMaterieel/MaterieelService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" />
  <xs:import schemaLocation="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" />
  <xs:import schemaLocation="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" minOccurs="0" name="login" nillable="true" type="q1:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" minOccurs="0" name="RegisterUserResult" nillable="true" type="q2:LoginRegistratie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" minOccurs="0" name="login" nillable="true" type="q3:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" minOccurs="0" name="UnRegisterUserResult" nillable="true" type="q4:LoginRegistratie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" minOccurs="0" name="request" nillable="true" type="q5:RequestAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" minOccurs="0" name="CheckLoginResult" nillable="true" type="q6:LoginRegistratie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadLogFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadLogFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadLogFilesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" minOccurs="0" name="exception" nillable="true" type="q7:ExceptionMelding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFromServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" minOccurs="0" name="request" nillable="true" type="q8:RequestAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFromServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="GetDataFromServerResult" nillable="true" type="q9:ResponseBasicMaterieel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtikel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="request" nillable="true" type="q10:RequestRFIDArtikel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtikelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="GetArtikelResult" nillable="true" type="q11:ResponseArtikelMaterieel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="request" nillable="true" type="q12:RequestSaveBon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetBonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListVrijeTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="request" nillable="true" type="q13:RequestSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListVrijeTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="GetListVrijeTagsResult" nillable="true" type="q14:ResponseStamTabel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="request" nillable="true" type="q15:RequestRFIDArtikel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="SetTagResult" nillable="true" type="q16:ResponseSaveRFIDTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindArtikelByNaam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="request" nillable="true" type="q17:RequestSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindArtikelByNaamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="FindArtikelByNaamResult" nillable="true" type="q18:ResponseArtikelMaterieelList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataVanLocatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="request" nillable="true" type="q19:RequestStamModelData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataVanLocatieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="GetDataVanLocatieResult" nillable="true" type="q20:ResponseGetDataVanLocatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocatiesVanPersoon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="request" nillable="true" type="q21:RequestStamModelData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocatiesVanPersoonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="GetLocatiesVanPersoonResult" nillable="true" type="q22:ResponseLocaties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtikelVoorraad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="request" nillable="true" type="q23:RequestArtikelVoorraad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtikelVoorraadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" minOccurs="0" name="GetArtikelVoorraadResult" nillable="true" type="q24:ArtikelVoorraadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" minOccurs="0" name="request" nillable="true" type="q25:DownloadRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/Message" name="GetFileStreamResult" type="q26:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>