WindowsServiceAppTest/Connected Services/YouriWebserviceMaterieel/MaterieelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaterieelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IMaterieelService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Kraan.Model.Probis.Voorraad" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaterieelService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_UnRegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterUser" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_UnRegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_CheckLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_CheckLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_DownloadLogFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLogFiles" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_DownloadLogFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLogFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_SaveException_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveException" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_SaveException_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetDataFromServer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromServer" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetDataFromServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromServerResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetArtikel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtikel" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetArtikel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtikelResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_SetBon_InputMessage">
    <wsdl:part name="parameters" element="tns:SetBon" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_SetBon_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetBonResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetListVrijeTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListVrijeTags" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetListVrijeTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListVrijeTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_SetTag_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTag" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_SetTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTagResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_FindArtikelByNaam_InputMessage">
    <wsdl:part name="parameters" element="tns:FindArtikelByNaam" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_FindArtikelByNaam_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindArtikelByNaamResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetDataVanLocatie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataVanLocatie" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetDataVanLocatie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataVanLocatieResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetLocatiesVanPersoon_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocatiesVanPersoon" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetLocatiesVanPersoon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocatiesVanPersoonResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetArtikelVoorraad_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtikelVoorraad" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetArtikelVoorraad_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtikelVoorraadResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetFileStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileStream" />
  </wsdl:message>
  <wsdl:message name="IMaterieelService_GetFileStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaterieelService">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/GetVersion" message="tns:IMaterieelService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/GetVersionResponse" message="tns:IMaterieelService_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/RegisterUser" message="tns:IMaterieelService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/RegisterUserResponse" message="tns:IMaterieelService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/UnRegisterUser" message="tns:IMaterieelService_UnRegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/UnRegisterUserResponse" message="tns:IMaterieelService_UnRegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/CheckLogin" message="tns:IMaterieelService_CheckLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/CheckLoginResponse" message="tns:IMaterieelService_CheckLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadLogFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/DownloadLogFiles" message="tns:IMaterieelService_DownloadLogFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/DownloadLogFilesResponse" message="tns:IMaterieelService_DownloadLogFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveException">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/SaveException" message="tns:IMaterieelService_SaveException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/SaveExceptionResponse" message="tns:IMaterieelService_SaveException_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataFromServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterieelService/GetDataFromServer" message="tns:IMaterieelService_GetDataFromServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterieelService/GetDataFromServerResponse" message="tns:IMaterieelService_GetDataFromServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtikel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterieelService/GetArtikel" message="tns:IMaterieelService_GetArtikel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterieelService/GetArtikelResponse" message="tns:IMaterieelService_GetArtikel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetBon">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterieelService/SetBon" message="tns:IMaterieelService_SetBon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterieelService/SetBonResponse" message="tns:IMaterieelService_SetBon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListVrijeTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterieelService/GetListVrijeTags" message="tns:IMaterieelService_GetListVrijeTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterieelService/GetListVrijeTagsResponse" message="tns:IMaterieelService_GetListVrijeTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterieelService/SetTag" message="tns:IMaterieelService_SetTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterieelService/SetTagResponse" message="tns:IMaterieelService_SetTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindArtikelByNaam">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterieelService/FindArtikelByNaam" message="tns:IMaterieelService_FindArtikelByNaam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterieelService/FindArtikelByNaamResponse" message="tns:IMaterieelService_FindArtikelByNaam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataVanLocatie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterieelService/GetDataVanLocatie" message="tns:IMaterieelService_GetDataVanLocatie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterieelService/GetDataVanLocatieResponse" message="tns:IMaterieelService_GetDataVanLocatie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocatiesVanPersoon">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterieelService/GetLocatiesVanPersoon" message="tns:IMaterieelService_GetLocatiesVanPersoon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterieelService/GetLocatiesVanPersoonResponse" message="tns:IMaterieelService_GetLocatiesVanPersoon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtikelVoorraad">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterieelService/GetArtikelVoorraad" message="tns:IMaterieelService_GetArtikelVoorraad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterieelService/GetArtikelVoorraadResponse" message="tns:IMaterieelService_GetArtikelVoorraad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterieelService/GetFileStream" message="tns:IMaterieelService_GetFileStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterieelService/GetFileStreamResponse" message="tns:IMaterieelService_GetFileStream_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_IMaterieelService" type="tns:IMaterieelService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IMaterieelService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterUser">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/UnRegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadLogFiles">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/DownloadLogFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveException">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/SaveException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataFromServer">
      <soap:operation soapAction="http://tempuri.org/IMaterieelService/GetDataFromServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtikel">
      <soap:operation soapAction="http://tempuri.org/IMaterieelService/GetArtikel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBon">
      <soap:operation soapAction="http://tempuri.org/IMaterieelService/SetBon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListVrijeTags">
      <soap:operation soapAction="http://tempuri.org/IMaterieelService/GetListVrijeTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTag">
      <soap:operation soapAction="http://tempuri.org/IMaterieelService/SetTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindArtikelByNaam">
      <soap:operation soapAction="http://tempuri.org/IMaterieelService/FindArtikelByNaam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataVanLocatie">
      <soap:operation soapAction="http://tempuri.org/IMaterieelService/GetDataVanLocatie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocatiesVanPersoon">
      <soap:operation soapAction="http://tempuri.org/IMaterieelService/GetLocatiesVanPersoon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtikelVoorraad">
      <soap:operation soapAction="http://tempuri.org/IMaterieelService/GetArtikelVoorraad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileStream">
      <soap:operation soapAction="http://tempuri.org/IMaterieelService/GetFileStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaterieelService">
    <wsdl:port name="BasicHttpsBinding_IMaterieelService" binding="tns:BasicHttpsBinding_IMaterieelService">
      <soap:address location="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>