WindowsServiceAppTest/Connected Services/YouriWebserviceUren/UrenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UrenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IUrenService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/UrenService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/UrenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/UrenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kraan.WebservicesTemplate" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/UrenService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/UrenService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kraan2.Webservices.Model" />
      <xsd:import schemaLocation="https://wsdev.kraan.com/Rasenprod/UrenService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUrenService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IUrenService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_UnRegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterUser" />
  </wsdl:message>
  <wsdl:message name="IUrenService_UnRegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_CheckLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="IUrenService_CheckLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_DownloadLogFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLogFiles" />
  </wsdl:message>
  <wsdl:message name="IUrenService_DownloadLogFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLogFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_SaveException_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveException" />
  </wsdl:message>
  <wsdl:message name="IUrenService_SaveException_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetProjectenLijst_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectenLijst" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetProjectenLijst_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectenLijstResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetWerkbonnen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWerkbonnen" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetWerkbonnen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWerkbonnenResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetKostenSoorten_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKostenSoorten" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetKostenSoorten_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKostenSoortenResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetBewakingsCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBewakingsCodes" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetBewakingsCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBewakingsCodesResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetProductieMiddelen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductieMiddelen" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetProductieMiddelen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductieMiddelenResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetDefaultUrenCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultUrenCodes" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetDefaultUrenCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultUrenCodesResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetDefaultKmCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultKmCodes" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetDefaultKmCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultKmCodesResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetMeegeredenKilometers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeegeredenKilometers" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetMeegeredenKilometers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeegeredenKilometersResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetBasicData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicData" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetBasicData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetProjectDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectDetails" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetProjectDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_SaveKilometers_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveKilometers" />
  </wsdl:message>
  <wsdl:message name="IUrenService_SaveKilometers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveKilometersResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_SaveUren_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUren" />
  </wsdl:message>
  <wsdl:message name="IUrenService_SaveUren_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUrenResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_SaveUrenProject_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUrenProject" />
  </wsdl:message>
  <wsdl:message name="IUrenService_SaveUrenProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUrenProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_SaveUrenDefaults_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUrenDefaults" />
  </wsdl:message>
  <wsdl:message name="IUrenService_SaveUrenDefaults_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUrenDefaultsResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetFileStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileStream" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetFileStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_UploadDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocument" />
  </wsdl:message>
  <wsdl:message name="IUrenService_UploadDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_RemoveDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDocuments" />
  </wsdl:message>
  <wsdl:message name="IUrenService_RemoveDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetUrenSoorten_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUrenSoorten" />
  </wsdl:message>
  <wsdl:message name="IUrenService_GetUrenSoorten_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUrenSoortenResponse" />
  </wsdl:message>
  <wsdl:message name="IUrenService_RegistreerKeuzeVoorPushNotificatie_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistreerKeuzeVoorPushNotificatie" />
  </wsdl:message>
  <wsdl:message name="IUrenService_RegistreerKeuzeVoorPushNotificatie_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistreerKeuzeVoorPushNotificatieResponse" />
  </wsdl:message>
  <wsdl:portType name="IUrenService">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/GetVersion" message="tns:IUrenService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/GetVersionResponse" message="tns:IUrenService_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/RegisterUser" message="tns:IUrenService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/RegisterUserResponse" message="tns:IUrenService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/UnRegisterUser" message="tns:IUrenService_UnRegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/UnRegisterUserResponse" message="tns:IUrenService_UnRegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/CheckLogin" message="tns:IUrenService_CheckLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/CheckLoginResponse" message="tns:IUrenService_CheckLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadLogFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/DownloadLogFiles" message="tns:IUrenService_DownloadLogFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/DownloadLogFilesResponse" message="tns:IUrenService_DownloadLogFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveException">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthWebservice/SaveException" message="tns:IUrenService_SaveException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthWebservice/SaveExceptionResponse" message="tns:IUrenService_SaveException_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectenLijst">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetProjectenLijst" message="tns:IUrenService_GetProjectenLijst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetProjectenLijstResponse" message="tns:IUrenService_GetProjectenLijst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWerkbonnen">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetWerkbonnen" message="tns:IUrenService_GetWerkbonnen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetWerkbonnenResponse" message="tns:IUrenService_GetWerkbonnen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKostenSoorten">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetKostenSoorten" message="tns:IUrenService_GetKostenSoorten_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetKostenSoortenResponse" message="tns:IUrenService_GetKostenSoorten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBewakingsCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetBewakingsCodes" message="tns:IUrenService_GetBewakingsCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetBewakingsCodesResponse" message="tns:IUrenService_GetBewakingsCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductieMiddelen">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetProductieMiddelen" message="tns:IUrenService_GetProductieMiddelen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetProductieMiddelenResponse" message="tns:IUrenService_GetProductieMiddelen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultUrenCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetDefaultUrenCodes" message="tns:IUrenService_GetDefaultUrenCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetDefaultUrenCodesResponse" message="tns:IUrenService_GetDefaultUrenCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultKmCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetDefaultKmCodes" message="tns:IUrenService_GetDefaultKmCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetDefaultKmCodesResponse" message="tns:IUrenService_GetDefaultKmCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeegeredenKilometers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetMeegeredenKilometers" message="tns:IUrenService_GetMeegeredenKilometers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetMeegeredenKilometersResponse" message="tns:IUrenService_GetMeegeredenKilometers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBasicData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetBasicData" message="tns:IUrenService_GetBasicData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetBasicDataResponse" message="tns:IUrenService_GetBasicData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetProjectDetails" message="tns:IUrenService_GetProjectDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetProjectDetailsResponse" message="tns:IUrenService_GetProjectDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveKilometers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/SaveKilometers" message="tns:IUrenService_SaveKilometers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/SaveKilometersResponse" message="tns:IUrenService_SaveKilometers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUren">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/SaveUren" message="tns:IUrenService_SaveUren_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/SaveUrenResponse" message="tns:IUrenService_SaveUren_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUrenProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/SaveUrenProject" message="tns:IUrenService_SaveUrenProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/SaveUrenProjectResponse" message="tns:IUrenService_SaveUrenProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUrenDefaults">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/SaveUrenDefaults" message="tns:IUrenService_SaveUrenDefaults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/SaveUrenDefaultsResponse" message="tns:IUrenService_SaveUrenDefaults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetFileStream" message="tns:IUrenService_GetFileStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetFileStreamResponse" message="tns:IUrenService_GetFileStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/UploadDocument" message="tns:IUrenService_UploadDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/UploadDocumentResponse" message="tns:IUrenService_UploadDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/RemoveDocuments" message="tns:IUrenService_RemoveDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/RemoveDocumentsResponse" message="tns:IUrenService_RemoveDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUrenSoorten">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/GetUrenSoorten" message="tns:IUrenService_GetUrenSoorten_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/GetUrenSoortenResponse" message="tns:IUrenService_GetUrenSoorten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistreerKeuzeVoorPushNotificatie">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrenService/RegistreerKeuzeVoorPushNotificatie" message="tns:IUrenService_RegistreerKeuzeVoorPushNotificatie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrenService/RegistreerKeuzeVoorPushNotificatieResponse" message="tns:IUrenService_RegistreerKeuzeVoorPushNotificatie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_IUrenService" type="tns:IUrenService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IUrenService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterUser">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/UnRegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadLogFiles">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/DownloadLogFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveException">
      <soap:operation soapAction="http://tempuri.org/IAuthWebservice/SaveException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectenLijst">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetProjectenLijst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWerkbonnen">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetWerkbonnen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKostenSoorten">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetKostenSoorten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBewakingsCodes">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetBewakingsCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductieMiddelen">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetProductieMiddelen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultUrenCodes">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetDefaultUrenCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultKmCodes">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetDefaultKmCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeegeredenKilometers">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetMeegeredenKilometers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasicData">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetBasicData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectDetails">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetProjectDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveKilometers">
      <soap:operation soapAction="http://tempuri.org/IUrenService/SaveKilometers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUren">
      <soap:operation soapAction="http://tempuri.org/IUrenService/SaveUren" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUrenProject">
      <soap:operation soapAction="http://tempuri.org/IUrenService/SaveUrenProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUrenDefaults">
      <soap:operation soapAction="http://tempuri.org/IUrenService/SaveUrenDefaults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileStream">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetFileStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <soap:operation soapAction="http://tempuri.org/IUrenService/UploadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDocuments">
      <soap:operation soapAction="http://tempuri.org/IUrenService/RemoveDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrenSoorten">
      <soap:operation soapAction="http://tempuri.org/IUrenService/GetUrenSoorten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistreerKeuzeVoorPushNotificatie">
      <soap:operation soapAction="http://tempuri.org/IUrenService/RegistreerKeuzeVoorPushNotificatie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UrenService">
    <wsdl:port name="BasicHttpsBinding_IUrenService" binding="tns:BasicHttpsBinding_IUrenService">
      <soap:address location="https://wsdev.kraan.com/Rasenprod/UrenService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>